<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462592472262-k869ludb5kp7u9fcuki6277c8edsg7jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462592472262-k869ludb5kp7u9fcuki6277c8edsg7jp</string>
	<key>API_KEY</key>
	<string>AIzaSyAwKITa4ei704TRC4fuqa6a-ymd2gv70OI</string>
	<key>GCM_SENDER_ID</key>
	<string>462592472262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.housingApp</string>
	<key>PROJECT_ID</key>
	<string>housingapp-9c514</string>
	<key>STORAGE_BUCKET</key>
	<string>housingapp-9c514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462592472262:ios:01ee144884d17f56ca53c7</string>
</dict>
</plist>